.odd {
	background-color: rgb(255, 0, 174);
	font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
	color: blue;
	font-size: 36px;
}

.third {
	font-size: 24px;
}

#fourth {
	font-size: 24px;
	font-weight: bold;
	background-color: rgba(0, 128, 0, 0.5);
}